<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
    <test name="HomePage">
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>

    <test name="HourlyRatePage">
        <classes>
            <class name="tests.HourlyRateTest"/>
        </classes>
    </test>

    <test name="InvoiceGenerator">
        <classes>
            <class name="tests.InvoiceGeneratorForFreelancerTest"/>
        </classes>
    </test>
</suite>